*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	display: flex;
	justify-content: space-between;
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv0xu6u-6zK0mTRNb9a4g4vmdqWaVVvm2fBg&usqp=CAU')center top / cover;
	border-bottom: 3px solid yellow;
}

body{
	/*background: url("pexels-stephan-seeber-1261728.jpg")center top / cover;*/
	/*background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv0xu6u-6zK0mTRNb9a4g4vmdqWaVVvm2fBg&usqp=CAU')center top / cover;*/
	/*background-repeat: no-repeat;*/
	/*background: black;*/
	/*background: url("https://t4.ftcdn.net/jpg/01/98/24/71/360_F_198247162_JwrVkhqowZb4NJC24156nV6QYRhsV8Qf.jpg") center top / cover;*/
	background: url("https://wallpaper.dog/large/10758866.jpg");
	background-repeat: no-repeat;
}

.nav-bar a{
	text-decoration: none;
	margin: 50px 20px;
	padding: 20px 20px; /* Top Right Bottom Left     OR     20px 20px then its top-bottom  right-left */
	color: black;
}

.nav-bar a:hover{
	padding-bottom: 15px;
	border-bottom: 3px solid yellowgreen;
}

.nav-bar ul{
	list-style: none;
	display: flex;
	font-family: Verdana, sans-serif;
	margin: 25px 25px;
	font-weight: bold;
}

h1.logo{
	font-family: Verdana, sans-serif;
	margin: 5px 20px;
	color: white;
	font-size: 55px;
}

.contents{
	margin-top: 50px;
	font-family: Verdana, sans-serif;
	color: ghostwhite;
}

.firstline{
	padding-bottom: 5px;
	border-bottom: 3px solid yellow;
	margin-left: 620px;
	margin-right: 620px;
}

.capture{
	display: flex;
}

#photograph{
	max-height: 280px;
	max-width: 400px;
	margin: 20px;
	margin-left: 50px;
}

#photograph img{
	height: 280px;
	width: 400px;
	border-radius: 4px;
}

.texting{
	margin-top: 20px;
	width: 1020px;
	height: 280px;
	background: gray;
	border-radius: 1px;
	border-left: 4px solid yellow;
	padding-top: 6px;
	font-size: 25px;
	font-family: Verdana, sans-serif;
}


.awards{
	display: flex;
}

.achieve{
	margin: 13px;
	display: flex;
	flex-direction: column;
	font-family: Verdana, sans-serif;
	width: 600px;
	height: 260px;
	color: black;
	background: ghostwhite;
	border: 2px solid yellow;
	border-radius: 3px;
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 10px;

}

.achieve p{
	padding-top: 16px;
	font-size: 20px;
	font-family: Verdana, sans-serif;
}

/*/4*/

/* #sec2{
	background: url("https://wallpaper.dog/large/10758866.jpg")top bottom / cover;
}*/
#container{
	height: 500px;
	width: 100%;
	background: black;
	font-family: Verdana, sans-serif;
}

#container h2{
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 30px;
	border-bottom: 3px solid yellow;
	width: 300px;
}

#container h4{
	margin-left: 55px;
}

#progressHtml{
	overflow: hidden;
	height: 20px;
	background: white;
	border-radius: 5px;
	margin-bottom: 0.6rem;
	margin-left: 55px;
	width: 90%;
	text-align: center;
}
#progressDoneHtml{
	height: 100%;
	width: 0;
	background: yellow;
	transition: 3s ease 0.3s;
}


#progressCss{
	overflow: hidden;
	height: 20px;
	background: white;
	border-radius: 5px;
	margin-bottom: 0.6rem;
	margin-left: 55px;
	width: 90%;
	text-align: center;
}
#progressDoneCss{
	height: 100%;
	width: 0;
	background: yellow;
	transition: 3s ease 0.3s;
}


#progressBootstrap{
	overflow: hidden;
	height: 20px;
	background: white;
	border-radius: 5px;
	margin-bottom: 0.6rem;
	margin-left: 55px;
	width: 90%;
	text-align: center;
}
#progressDoneBootstrap{
	height: 100%;
	width: 0;
	background: yellow;
	transition: 3s ease 0.3s;
}


#progressnode{
	overflow: hidden;
	height: 20px;
	background: white;
	border-radius: 5px;
	margin-bottom: 0.6rem;
	margin-left: 55px;
	width: 90%;
	text-align: center;
}
#progressDonenode{
	height: 100%;
	width: 0;
	background: yellow;
	transition: 3s ease 0.3s;
}


#progressJavascript{
	overflow: hidden;
	height: 20px;
	background: white;
	border-radius: 5px;
	margin-bottom: 0.6rem;
	margin-left: 55px;
	width: 90%;
	text-align: center;
}

#progressDoneJavascript{
	height: 100%;
	width: 0;
	background: yellow;
	transition: 3s ease 0.3s;
}


#progressReact{
	overflow: hidden;
	height: 20px;
	background: white;
	border-radius: 5px;
	margin-bottom: 0.6rem;
	margin-left: 55px;
	width: 90%;
	text-align: center;
}

#progressDoneReact{
	height: 100%;
	width: 0;
	background: yellow;
	transition: 3s ease 0.3s;
}


/*/5*/

.sometext h1{
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 30px;
	border-bottom: 3px solid yellow;
	width: 200px;
	color: black;
	font-family: Verdana, sans-serif;
}

.contents1{
	margin-top: 30px;
	font-family: Verdana, sans-serif;
	color: ghostwhite;
}


.testimon{
	display: flex;
}

.byuser{
	margin: 10px;
	display: flex;
	flex-direction: column;
	font-family: Verdana, sans-serif;
	height: 150px;
	width: 400px;
	color: yellow;
	background: black;
	border-radius: 3px;
	padding-top: 7px;
	padding-left: 10px;
}

.req{
	color: black;
	display: flex;
}

.req p{
	padding-top: 15px;
	padding-left: 7px;
}
.req img{
	font-family: Verdana, sans-serif;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.subcount{
	color: black;
	font-family: Verdana, sans-serif;
	margin-top: 80px;
	border-bottom: 3px solid yellowgreen;
	width: 500px;
	margin-left: 530px;
	padding-bottom: 6px;
}
.counting{
	margin-top: 20px;
	background: yellow;
	display: flex;
	font-family: Verdana, sans-serif;
	height: 200px;
}

.symbols{
	display: flex;
	flex-direction: column;
	color: black;
	margin-left: 20%;
	padding-top: 40px;
}

/*/9*/
#footer{
	background-color: black;
	font-family: Verdana, sans-serif;
	color: ghostwhite;
	margin-top: 5px;
	width: 100%;
}

.section-f{
	display: flex;
}

.inform{
	margin-left: 100px;
	padding-top: 50px;
}

.inform pre{
	border-top: 3px solid yellow;
	width: 93px;
	font-size: 20px;
	padding-top: 20px;
}

.navigation{
	width: 130px;
	margin-left: 500px;
	padding-top: 50px;
}



.navigation ul{
	margin-top: 10px;
	margin-left: 5px;
	list-style-type: none;
	font-size: 20px;
	font-weight: none;
	flex-direction: column;
}

.navigation li a{
	font-weight: lighter;
	transition: all 1s;
	text-decoration: none;
	color: ghostwhite;
}


.navigation h3{
	border-bottom: 3px solid yellow;
	padding-bottom: 20px;
	width: 93px;
}

/*.navigation p{
	border-top: 3px solid yellow;
	width: 93px;
}*/
.navigation li a:hover{
	color: yellow;
	/*text-align: right;*/
	margin-left: 5px;
	cursor: pointer;

}


.connect-us{
	margin-left: 340px;
	width: 250px;
	padding-top: 50px;

}

/*.connect-us p{
	border-top: 3px solid yellow;
	width: 110px;
}*/

.connect-us h3{
	border-bottom: 3px solid yellow;
	padding-bottom: 20px;
	width: 110px;
	margin-left: 2px;
}

.icons{
	display: flex;
	text-align: left;
}

.icons ul{
	display: flex;
	list-style: none;

}

.icons li a{
	color: ghostwhite;
	margin: 8px;
	text-decoration: none;

}

.icons li a:hover{
	color: blue;
}

/*.fi{
	border-radius: 50%;
	background-color: transparent;
	margin-left: 15px;
	transition: all 1s;
	height: 30px;
	width: 30px;
}

.fi a{
	text-decoration: none;
	color: ghostwhite;
}

.fi a:hover{
	background: blue;/} */



.mailing{

	padding-top: 10px;
	padding-left: 3px;
}

.mailing h3{
	border-bottom: 3px solid yellow;
	width: 60px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.mailing i{
	margin-left: 4px;
}

.mailing a{
	color: ghostwhite;
	padding-left: 0px;
	margin: 0px;
	padding-top: 10px;
	text-decoration: none;
}



.mailing a:hover{
	text-decoration: none;
	color: yellow;
}

.mobile{

	padding-top: 10px;
	padding-left: 3px;
}

.mobile a{
	color: ghostwhite;
	padding-left: 0px;
	margin: 0px;
	text-align: left;
	text-decoration: none;
	padding-top: 5px;
}

.mobile i{
	margin-left: 4px;
}

.mobile a:hover{
	color: yellow;
	text-decoration: none;
}
.mobile h3{
	border-bottom: 3px solid yellow;
	width: 70px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/*/5*/
